### A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

### SQL - RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS).These databases have fixed or static or predefined schema.These databases are not suited for hierarchical data storage.These databases are best suited for complex queries.Vertically Scalable.Follows ACID property.Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

### NoSQL - Non-relational or distributed database system.They have dynamic schema.These databases are best suited for hierarchical data storage.These databases are not so good for complex queries.Horizontally scalable.Follows CAP(consistency, availability, partition tolerance).Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc.

### Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

### CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

### ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

ALTER TABLE Student_info
ADD CGPA number;

### TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

TRUNCATE TABLE Student_info;

### DROP :
This command is used to remove an existing table along with its structure from the Database.

DROP TABLE Student_info;

### DML is an abbreviation for Data Manipulation Language. Represents a collection of programming languages explicitly used to make changes to the database, such as: CRUD operations to create, read, update and delete data. Using INSERT, SELECT, UPDATE, and DELETE commands.

### INSERT
Insert command is used to insert data into a table.

Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);

SELECT * from Employee;

### DELETE
Delete command is used to delete records from a database table.

DELETE from Employee WHERE Emp_id=002;

### UPDATE
Update command is used to update existing data within a table.

UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;

### SELECT
Select command is used to retrieve data from the database.

SELECT * from Employee;

### DQL is used to fetch the data from the database.It uses only one command: SELECT

### Primary key is used to uniquely identify a row.Foreign key is used to connect two tables or maintain the relationship between them.

### cursor() is used to execute the SQL statements in Python. execute() method is used to compile a SQL statement.

In [18]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp310-cp310-manylinux1_x86_64.whl (23.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 58.0 MB/s eta 0:00:0000:0100:01
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 68.3 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.21.11
    Uninstalling protobuf-4.21.11:
      Successfully uninstalled protobuf-4.21.11
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

In [24]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
#mycursor.execute("select * from test1.test_table")
mycursor.execute("select c1 ,c5 from test1.test_table")
for i in mycursor.fetchall():
    print(i)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

###
1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.