In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
data=np.array([4,8,15,16,23,42])
ser=pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
list=[1,2,3,4,5,6,7,8,9,10]
df=pd.Series(list)
print(df)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [14]:
data={'Name':["Alice","Bob","Claire"]
Age=pd.Series([25,30,27])
Gender=pd.Series(["Female","Male","Female"])
df=pd.(['Name'],['Age'],['Gender'])
print(df)

        0   1       2
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

### Pandas dataframe is a two-dimensional structure with columns and rows whose size can be changed.Pandas series data structure is a one-dimensional labelled array.It is the primary building block for a dataframe.

### read_csv : We can read data in pandas dataframe as read_csv.Two most used data read formats are csv and excel.pd.read_csv(),pd.read_excel().

### head() : It returns first five rows in a dataframe.To see the dataframe we can use it.

### tail() : It returns last five rows in a dataframe.To see the dataframe we can use it.

### shape() : It gives total number of rows and total number of columns.

### size() : It returns the number of rows times number of columns in the dataframe.

### info() : From this we can get different information such as rows from RangeIndex(),Data columns and then datatype of each column.

### describe() : It will give count,mean,standard deviation and also 5 number summary.

### Series is immutable.Data frame and panel are mutable.

In [11]:
name=pd.Series(["Alice","Bob","Claire"])
age=pd.Series([25,30,27])
gender=pd.Series(["female","male","female"])
df=pd.concat([name,age,gender],axis=1)
print(df)

        0   1       2
0   Alice  25  female
1     Bob  30    male
2  Claire  27  female